*{
box-sizing: border-box;
}

body {
    padding: 0;
    font-weight: bolder;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 70vh;
    justify-content: center;
    align-items: center;
    border: 5px solid rgb(3, 42, 42);
    background-color: rgb(167, 160, 245);
}
.container {
    width: 800px;
    background-color: bisque;
    border: 15px solid rgb(3, 42, 42);
    border-radius: 5px;
    box-shadow: 0 0 20px 5px;
}
.btn {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-evenly;
    background-color: blueviolet;
}

.start-btn {
    display:flex;
    justify-content: center;
    font-size: 25px;

}
.hide {
    
}
.btn:hover {
    background-color: rgb(221, 202, 239);
}

.countdown {
    display: flex;
    align-items: flex-start;
}
